html {
  font-family: Arial;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 100%;

/* CSS Variables */

  /* Colors */
  /* --bg:hsl(120,30%,90%); */
  --bg: hsl(60,0%,94%);
  --accentColor:#222;
  --fontColor: #222;
  --headerFont: 'Inconsolata';
  --bodyFont: 'Open Sans';
  --readable: 'Times New Roman', serif;

  /* Fonts */
  --bodyFontSize: 150%;
  --headlineFontSize: 225%;
  
  /* Misc */
  --boxShadow: 5px 5px 35px rgba(0,0,0,0.25);
  --borderRadius: 0px;

}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--fontColor);
  font-family: var(--bodyFont);

}



::selection {
  background: grey ; 
  color: black; 
} 